body {
    font-size: 9pt;
}

.no-space {
    padding: 0;
    margin: auto;
}

div {
    margin : auto;
}

.card-container {
    border: 0.5px solid #8b898991;
    padding: 1em;
    width: 300px;
    box-shadow: 5px 5px #e6e2e2;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.information-box {
    border: 0.5px solid #8b898991;
    padding: 1em;
    width: auto;
}

.no-bullets {
    list-style: none;
}

span {
    font-weight: bold;
}

em {
    font-style: italic;
}